.page {
  padding: 2.5%;
  box-sizing: border-box;
  // font-size: 1rem;
  padding: 2.5%;
  // width: 64%;
  max-width: 1080px;
  margin: 0 auto;
  .menu{
    ul {
      display: flex;
      list-style: none;
      flex-direction: flex-start;
      padding: 0;
    }
    li a {
      text-decoration: none;     
      padding-right: 1rem;
       
    }
  }
}