.page {
  padding: 2.5%;
  .menu{
    ul {
      display: flex;
      list-style: none;
      flex-direction: flex-start;
      padding: 0;
    }
    li a {
      text-decoration: none;     
      padding-right: 1rem;
       
    }
  }
}