/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */
.blog, .page-template-default, .hfeed-site {
	text-align: left;
	background-color: $color__background-color;  
	padding: 2.5%;
	a {
		text-decoration: none;
		font-family: $font__main;
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.site-description {
	display: none;
}