.home {
  .site-content, .footer-note-wrapper {
    text-align: left;
    margin-top: 0;
    .footer-note {
      padding-right: .3rem;
    }
  }
  .site-footer{
    margin-top: 4rem;
  }
  .menu {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
    }
    li a {
      text-decoration: none;     
      padding-right: 1rem;
    }
  }
}

.site-info {
  margin-top: 3rem;
  
}

.footer-note-wrapper {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.footer-note {
  padding-right: .5rem;
  font-size: 1rem;
}

@include tablet {
  footer .site-info {
    width: 100%;
  }
  .page footer {
    margin-top: 4.5rem;
  }
}

@include desktop {
  footer .site-info {
    display: flex;
    justify-content: flex-end;
  }
}
