.home  {
  .site-content, .footer-note-wrapper {
    text-align: left;
    margin-left: 1rem;   
    .footer-note {
      padding-right: .3rem;
    }
  }
  .site-footer{
    margin-top: 4rem;
  }
  .menu {
    ul {
      display: flex;
      list-style: none;
      flex-direction: flex-start;
      padding: 0;
      margin: 0 0 0 1rem;
    }
    li a {
      text-decoration: none;     
      padding-right: 1rem;
       
    }
  }
}