/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $color__border-green;
	border-radius: 3px;
	background: $color__background-transparent;
	text-shadow: none;
	color: $color__text-brand;
	font-size: 1rem;
	line-height: 1;
	padding: .75rem 2.25rem;
	width: 15rem;
	height: 3rem;
	margin: 3rem 0;

	&:hover {
		// border-color: pink;
		// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		// border-color: pink;
		// box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: $color__border-green;
	border: $color__border-green;
	background-color: $color__background-transparent;
	border-radius: 3px;	
	padding-left: 3px;
	width: 250px;	
	@include tablet {
		width: 500px;
		// #quote-content textarea {
		// 	width: 700px;
		// }
	}

	&:focus {
		color: $color__text-white;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	border: $color__border-green;
	background-color: $color__background-transparent;
}

.quote-submission-wrapper{
	:nth-child(1){
	display: flex;
	flex-direction: column;
	}
	div {
		padding: .75rem 0;
	}
}