/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
// background-color: transparent;
// border: 2px solid #0c0;
// color: #0c0;
// box-shadow: none;
// text-shadow: none;
// border-radius: 3px;
// width: 15rem;
// height: 3rem;
// font-size: 1rem;
// font-weight: 700;
// padding: .75rem 2.25rem;
/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: $color__border-green;
	border-radius: 3px;
	background: $color__background-transparent;
	text-shadow: none;
	color: $color__text-brand;
	font-size: 1rem;
	line-height: 1;
	padding: .75rem 2.25rem;
	width: 15rem;
	height: 3rem;
	margin-bottom: 3rem;

	&:hover {
		// border-color: #ccc #bbb #aaa;
		// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		// border-color: #aaa #bbb #bbb;
		// box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	border: $color__border-green;
	background-color: $color__background-transparent;
	padding-left: 3px;
	width: 100%;
	

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	border: $color__border-green;
	background-color: $color__background-transparent;
}

.quote-submission-wrapper{
	:nth-child(1){
	display: flex;
	flex-direction: column;
	}
	div {
		padding: .75rem 0;
	}
}