// Structure

$base__space-unit: 1.5rem;

// Colors
$color__text-white: white;
$color__background-transparent: transparent;
$color__text-main:yellow;
$color__text-body: #fff;
$color__text-brand: #00cc00;
$color__background-color: #222222;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #00cc00;
$color__link-visited: #076a21;
$color__link-hover: #090;

//border
$color__border-green: 2px solid #00cc00;
$color__border-dashed-white: 1px dashed #ffffff;

// Typography

$font__main:  Exo, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//screen sizes

$tablet-width: 620px;
$desktop-width: 1080px;

